/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Alternates:ital,wght@0,100;0,400;0,500;0,600;1,100&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    /*===== Colors =====*/
    /*Color mode hsl(hue, saturation, lightness)*/
    /*
        Change Colors visit: https://htmlcolorcodes.com/
        -> Choose any color
        -> Copy the color mode (HSL) and replace the --hue 
    */
    --hue: 358;
    --first-color: hsl(var(--hue), 80%, 49%);
    --first-color-alt: hsl(var(--hue), 76%, 45%);
    --white-color: hsl(0, 0%, 98%);
    --black-color: hsl(0, 0%, 1%);
    --text-color: hsl(var(--hue), 2%, 66%);
    --body-color: hsl(var(--hue), 100%, 1%);
    --container-color: hsl(var(--hue), 2%, 10%);
    --conic-gradient: linear-gradient(135deg, hsl(var(--hue), 80%, 45%), hsl(var(--hue), 80%, 15%));

    /*===== Font and typography =====*/
    /*===== .5rem = 8px | 1rem = 16px ... =====*/
    --body-font: "Montserrat Alternates", sans-serif;
    --second-font: "Grechen Fuemen", cursive;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*===== Font Weight =====*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*===== z-index =====*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===== Responsive typography*/
@media screen and (min-width: 1168) {
    :root{
        --biggest-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*===== BASE =====*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body, input, textarea, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--white-color);
}

input, textarea, button{
    border: none;
    outline: none;
}

h1, h2, h3, h4{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*===== RESUABLE CSS CLASSES =====*/
.container{
    max-width: 1168px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2rem 3rem;
}

.section_title{
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.main{
    overflow: hidden;
}

/*===== NAV =====*/
.nav{
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 98%, .1);
    width: 88%;
    margin-inline: auto;
    backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px);
    padding: 1rem 2rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .6s;
}

/*===== Active Link =====*/
.active-link{
    background-color: var(--first-color);
}

/*========== HOME ==========*/
/*===== PROFILE =====*/
.profile{
    position: relative;
    background: var(--conic-gradient);
    height: 415px;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    overflow: hidden;
}

.profile_img{
    width: 250px;
    position: absolute;
    justify-self: center;
    align-self: flex-end;
}

.profile_data{
    align-self: flex-end;
    background-color: hsla(0, 0%, 1%, .1);
    backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px);
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid hsla(0, 0%, 100%, .5);
}

.profile_name{
    font: var(--font-regular) var(--biggest-font-size) var(--second-font);
    margin-bottom: 1rem; 
}

.profile_buttons{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.profile_buttons .button{
    padding: .75rem 0;
}

/*===== INFO =====*/
.info,
.about,
.skills{
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.info_circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--first-color);
    border-radius: 50%;
}

.info_circle i{
    color: var(--white-color);
    font-size: 1.35rem;
    display: grid;
    padding-top: 0.2rem;
    place-items: center;
}

.info_circle:hover i{
    transition: ease-in .2s;
    padding-top: 0.1rem;
}

.info_name{
    font: var(--font-regular) var(--h1-font-size) var(--second-font);
}

.info_data{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.info_image{
    background: var(--conic-gradient);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    margin-block: 1.5rem;
    overflow: hidden;
}

.info_img{
    width: 140px;
    justify-self: center;
    align-self: flex-end;
}

.info_description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.info .button{
    width: 100%;
}

/*===== ABOUT =====*/
.about_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    margin-bottom: 1rem;
}

.about_social{
    display: flex;
    padding: .6rem;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 2remm;
}

.about_link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 2px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}

.about_link:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}

.about_image{
    background: var(--conic-gradient);
    height: 200px;
    border-radius: 2rem;
    display: grid;
    overflow: hidden;
}

.about_img{
    width: 250px;
    justify-self: center;
    transform: translateY(-2.5rem);
}

.about_note{
    font-size: var(--small-font-size);
    margin-block: 1rem 2rem;
}

.about .button{
    width: 100%;
}

/*===== SKILLS =====*/
.skills_title{
    font-size: var(--h2-font-size);
}

.skills_item{
    width: 1.5rem;
    transition: transform .4s;
}

.skills_item:hover{
    transform: translateY(-.25rem);
}

.skills_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1.5rem;
}

.skills_description{
    font-size: var(--small-font-size);
}

/*===== BUTTON =====*/
.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2.5rem;
    border-radius: 4rem;
    transition: background-color .4s;
}

.button_black{
    background-color: var(--black-color);
    border: 2px solid var(--first-color-alt);
}

.button:hover{
    background-color: var(--first-color-alt);
}

/*===== PROJECTS =====*/
.projects_card{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 2rem;
}

.projects_image{
    display: block;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.projects_img{
    transition: transform .4s;
}

.projects_name{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.projects_description{
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.projects_skill{
    width: 1rem;
    transition: transform .4s;
}

.projects_skill:hover{
    transform: translateY(-.25rem);
}

.projects_skills{
    width: max-content;
    height: 34px;
    background-color: var(--black-color);
    padding-inline: .75rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
}

.projects_button{
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .4s;
}

.projects_button i{
    font-size: 1.25rem;
}

.projects_button span{
    font-weight: var(--font-medium);
}

.projects_button:hover{
    color: var(--text-color);
}

.projects_card:hover .projects_img{
    transform: scale(1.2);
}
/*===== SERVICES =====*/

/*===== EXPERIENCE =====*/

/*===== CONTACT =====*/
.contact_group,
.contact_form{
    gap: 1rem;
}

.contact_form{
    position: relative;
}

.contact_input{
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 4rem;
    color: var(--white-color);
}

.contact_input::placeholder{
    color: var(--text-color);
}

.contact_input:autofill{
    transition: background-color 6000s, color 6000s;
}

.contact_area{
    height: 10rem;
    border-radius: 1.5rem;
    resize: none;
}

.contact_button{
    margin-top: 1.5rem;
    cursor: pointer;
}

.contact_message{
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--smaller-font-size);
}

/*===== FOOTER =====*/
.footer{
    padding-block: 2rem 8rem;
}

.footer_container{
    row-gap: 2.5rem;
}

.footer_logo{
    color: var(--white-color);
    font: var(--font-regular) var(--biggest-font-size) var(--second-font);
    justify-self: center;
}

.footer_links{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.footer_link{
    color: var(--white-color);
    transition: color .4s;
    padding: .2rem 1rem;
    border-radius: 2rem;
}

.footer_link:hover{
    color: var(--text-color);
}

.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.footer_social-link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}
.footer_social-link:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}

.footer_copy{
    display: block;
    margin-top: 4.5rem;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

/*===== SCROLL BAR =====*/
::-webkit-scrollbar{
    width: 0.6rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 30%);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%,40%);
}

/*===== SCROLL UP =====*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 98%, .1);
    display: inline-flex;
    padding: 6px;
    color: var(--white-color);
    font-size: 1.255rem;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

/*Show Scroll Up*/
.show-scroll{
    bottom: 8rem;
}

/*===== BREAKPOINTS =====*/
/* For small devices */
@media screen and (max-width: 320){
    .container{
        margin-inline: 1rem;
    }

    .nav{
        padding: 1rem;
    }
}

/* For medium devices */
@media  screen and (min-width: 540px) {
    .nav{
        width: max-content;
    }

    .nav_list{
        column-gap: 1.25rem;
    }

    .home_container, 
    .project_container, 
    .services_container,
    .experience_container,
    .contact_container{
        grid-template-columns: 380px;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .home_container{
        grid-template-columns: repeat(2, 350px);
        align-items: flex-start;
    }

    .profile{
        height: 100%;
    }

    .about_img{
        transform: translateY(-1rem);
        width: 200px;
    }

    .project_container,
    .services_container{
        grid-template-columns: repeat(2, 350px);
    }

    .experience_container{
        grid-template-columns: initial;
    }

    .experience_card{
        grid-template-columns: 320px 380px;
        align-items: center;
    }

    .footer_container,
    .footer_content{
        grid-template-columns: repeat(2, max-content);
        align-items: center;
    }

    .footer_container{
        justify-content: space-between;
    }

    .footer_content{
        column-gap: 4.5rem;
    }

    .show-scroll{
        bottom: 3rem;
    }
}

/* For large devices*/
@media screen and (min-width: 1200px) {
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 3rem 4rem;
    }

    .section_title{
        font-size: var(--h1-font-size);
        margin-bottom: 4rem;
    }

    .home_container{
        grid-template-columns: 280px 560px 280px;
        align-items: stretch;
    }

    .profile{
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 2rem;
    }

    .profile_img{
        width: 400px;
    }

    .profile_data{
        width: 370px;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .info{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .info_name{
        font-size: var(--h2-font-size);
    }

    .about{
        grid-column: 3/4;
        grid-row: 1/3;
        align-content: center;
    }

    .about_image{
        height: 210px;
    }

    .about_img{
        transform: translateY(-.8rem);
        transform: translateX(1rem);
    }

    .skills{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .skills_title{
        font-size: var(--h3-font-size);
    }


    .project_container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .projects_card{
        padding-bottom: 2rem;
    }

    .services_container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .services_card{
        padding-block: 6rem, 5rem;
    }

    .services_icon i{
        font-size: 3.5rem;
    }

    .services_circle{
        width: 4rem;
        height: 4rem;
        right: -1.5rem;
        top: -1.5rem;
    }

    .experience_container{
        row-gap: 4rem;
    }

    .experience_card{
        grid-template-columns: 350px 510px;
        column-gap: 4rem;
    }

    .experience_company{
        font-size: var(--h1-font-size);
    }

    .experience_data{
        padding: 2rem;
        border-radius: 2rem;
    }

    .contact_container{
        grid-template-columns: 620px;
    }

    .contact_group{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact_area{
        height: 15rem;
    }

    .contact_button{
        width: max-content;
        justify-self: center;
    }

    .footer{
        padding-top: 3rem;
    }

    .footer_links{
        column-gap: 3rem;
    }

    .footer_copy{
        margin-top: 7rem;
    }
}

@media screen and (min-width: 1500px) {
    .nav{
        width: max-content;
        height: max-content;
        padding: 2rem 1rem;
        left: initial;
        right: 3rem;
        top: 0;
        bottom: 0;
        margin-block: auto;
    }

    .nav_list{
        flex-direction: column;
        row-gap: 1.25rem;
    }

    .footer{
        padding-block: 3rem;
    }

    .scrollup{
        right: 4rem;
    }
}
